* {
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://th.bing.com/th/id/R.245b3debfc584d5006c527507ec27e31?rik=IhaJziN3K8ejYg&pid=ImgRaw&r=0);
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    height: 100vh; /* Altura total da viewport */
    color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
    justify-content: space-between; /* Espaça os elementos para ocupar toda a altura */
}

.login {
    display: block;
    margin: 0 auto; /* Centraliza a seção de login */
    width: 20rem; 
    padding: 20px; /* Espaço interno no contêiner */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
    margin-top: 18rem; /* Empurra a seção de login para cima */
}

#cadastrar {
    font-size: large;
    text-align: center; /* Centraliza o texto dentro do div de cadastrar */
    margin-bottom: 20px; /* Espaço abaixo do botão de cadastro */
}

#usuario, #senha {
    height: 2rem;
    width: 100%; /* Faz com que os campos ocupem toda a largura do contêiner */
    border-radius: 5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 0.75rem; /* Espaço entre os campos */
    font-size: 1.20rem;
}

#entrar {
    display: block; /* Faz com que os botões ocupem toda a largura */
    width: 100%; /* Faz com que os botões ocupem toda a largura do contêiner */
    margin: 10px auto; /* Centraliza os botões */
}

#entrar1 {
    background-color: transparent;
    border: none;
    color: white;
}

#entrar:active, #entrar1:active {
    background-color: grey;
    border: 2px solid black;
}

.bemvindo {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente para melhor legibilidade */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto dentro do elemento */
    padding: 20px; /* Adiciona espaço ao redor do texto */
    position: absolute; /* Permite que você posicione o elemento em relação ao seu contêiner pai */
    top: 0; /* Posiciona o elemento no topo da página */
    left: 50%; /* Move o elemento para o meio da tela */
    transform: translateX(-50%); /* Ajusta a posição para que o centro do elemento fique no meio da tela */
    width: 100%; /* Faz com que o elemento ocupe toda a largura da tela */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para dar destaque */
}


.cadastro {
    display: block;
    margin: 0 auto; /* Centraliza a seção de login */
    height: 30rem;
    width: 40rem; 
    padding: 20px; /* Espaço interno no contêiner */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
    margin-top: 10rem; /* Empurra a seção de login para cima */
}

#novo_usuario, #nova_senha {
    height: 4rem;
    width: 100%; /* Faz com que os campos ocupem toda a largura do contêiner */
    border-radius: 5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 2rem; /* Espaço entre os campos */
    font-size: 1.35rem;
}

#entrar3 {
    display: block; /* Faz com que os botões ocupem toda a largura */
    width: 25%; /* Faz com que os botões ocupem toda a largura do contêiner */
    margin: 10px auto; /* Centraliza os botões */
}

#texto {
    padding-left: 14rem;
    font-size:xx-large;
}


#livros {
    padding-left: 35%;
    background-color: transparent;
    border: none;
}

#pesquisar {
    padding-left: 55%;
}

#pesquisa {
    height: 2rem;
    width: 25rem;
    font-size: 1.25rem;
}

#botao {
    height: 2rem;
    margin-left: 38%;
    margin-top: 1rem;
}


#resultados {
    padding-left: 5%;
    margin-left: 50%;
    height: 30rem;
    width: 30rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5%;
}

